# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.a

# C extensions header files
RockRawler.h
subfinder.h
ffuf.h

# Distribution / packaging
build/
gorock/dist/
gorock/gorock.egg-info
ui/gui

# Visual studio code files
.vscode

# SSL Certificates dir
core/http/certs